<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ServiceHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SampleService.Properties.Settings>
      <setting name="TimeToNextTick" serializeAs="String">
        <value>00:02:00</value>
      </setting>
      <setting name="TickTimeout" serializeAs="String">
        <value>00:10:00</value>
      </setting>
    </SampleService.Properties.Settings>
    <ServiceHelper.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value />
      </setting>
      <setting name="SetupTimeout" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="StopTimeout" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="CleanupTimeout" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="DefaultServiceDisplayName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultServiceDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultServiceStartType" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="DefaultServiceAccount" serializeAs="String">
        <value>LocalService</value>
      </setting>
      <setting name="EventLogSource" serializeAs="String">
        <value />
      </setting>
      <setting name="EventLogName" serializeAs="String">
        <value>Application</value>
      </setting>
    </ServiceHelper.Properties.Settings>
  </applicationSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>